body {background-color: black;}
table {
  border: 1px solid black;

}
.myDiv {
  border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
.myDiv thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.myDiv
.myDivt {
    padding: 12px 15px;
}
.myDiv tbody tr {
    border-bottom: 1px solid #dddddd;
}

.myDiv tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.myDiv tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.myDiv table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.myDiv thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.myDiv tr { border: 1px solid #ccc; }

	.myDiv td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

.myDiv	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
